body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  img {
    width: 60px;
  }
}

.menu {
  display: flex;
  gap: 20px;
  transition: all 0.5s;

  @media (max-width: 800px) {
    /* display: none; */

    position: fixed;
    top: 0;
    left: -150%;
    width: 70%;
    height: 100dvh;
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    &.open {
      left: 0;
    }
    a{
      color: #fff !important;
    }
  }

  a {
    color: #232020;
  }
}


.burger {
  width: 30px;
  display: none;

  @media (max-width: 800px) {
    display: block;
  }
}

.hero__title {
  font-size: 45px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 0.04em;
  text-align: left;
}

.hero__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-align: left;
}

.hero__btn1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.04em;
  text-align: center;
  color: white;
  background-color: #232020;
  box-shadow: 0px 2px 10px 0px #00000040;
  padding: 10px 15px;
}

.hero__btn2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #000000;
  box-shadow: 0px 4px 7px 0px #00000040;
  padding: 10px 15px;
  border: 1px solid #d48a5c;
}

.hero__knopki {
  display: flex;
  gap: 25px;
  margin-top: 55px;
}

.hero__wrapper {
  display: flex;
  align-items: center;

  display: grid;
  gap: 20px 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.hero__img {
  max-width: 500px;
  width: 100%;
}

.best__text {
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0.04em;
  text-align: left;
  color: white;
  width: 200px;
}

.best__card1 {
  background-image: url(./img/slide1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  max-width: 350px;
  width: 100%;
  display: flex;
  align-items: end;
  padding: 20px;
}

.best__card2 {
  background-image: url(./img/andrew-spencer-YUEcePrJsgg-unsplash\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  max-width: 350px;
  width: 100%;
  display: flex;
  align-items: end;
  padding: 20px;
}

.best__card3 {
  background-image: url(./img/jonas-jacobsson-RFHFV7lVQBY-unsplash\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  max-width: 350px;
  width: 100%;
  display: flex;
  align-items: end;
  padding: 20px;
}

.best__wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;

  display: grid;
  gap: 20px 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.coffee {
  background-image: url(./img/coffee-beans.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 60px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.coffee__title {
  font-size: 55px;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #000000;
}

.coffee__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #141313;
  margin-top: 10px;
}

.coffee__btn {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.04em;
  text-align: center;
  padding: 12px 20px;
  background: #232020;
  color: #ffffff;
  margin-top: 10px;
}

.product__title {
  font-size: 55px;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 0.04em;
  text-align: center;
}

.product__img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.product__h3 {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-align: left;
}

.product__price {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #d48a5c;
}

.product__box {
  display: flex;
  align-items: center;
}

.product__span {
  width: 100%;
  border-top: 3px solid #414141;
  border-right: 3px solid #414141;
  border-bottom: 3px solid #414141;
  margin-left: -20px;
  padding: 20px 10px 10px 40px;
}

.img_box {
  z-index: 3;
}

.product__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
  margin: 50px 0;
}

@media (max-width: 500px) {
  .product__box {
    flex-direction: column;
    gap: 20px;
  }
}

.machine__title {
  font-size: 55px;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 0.04em;
  text-align: left;
}

.machine__text1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #6f6f6f;
  margin-top: 35px;
}

.machine__text2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #141313;
  margin-top: 10px;
}

.machine__btn {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.04em;
  text-align: center;
  background: #232020;
  box-shadow: 0px 2px 10px 0px #12121240;
  color: #ffffff;
  padding: 10px 15px;
  margin-top: 35px;
}

.machine__wrap {
  display: grid;
  gap: 20px 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
}

.machine__img {
  max-width: 100%;
  height: 400px;
  margin: 0 auto;
}

.cafena__title {
  font-size: 55px;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 0.04em;
  text-align: left;
}

.cafena__title {
  font-size: 55px;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 0.04em;
  text-align: center;
}

.cafena__img {
  box-shadow: 15px 6px 30px 0px #31313140;
}

.text__container {
  display: flex;
  gap: 3px;
}

.cafena__h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 0.04em;
  margin-left: 25px;
}

.cafena__img1 {
  margin-bottom: 30px;
  display: block;
  margin: 0 auto;
}

.cafena__price {
  color: #eab665;
}

.cafena {
  background: #f4f1ee;
}

.cafena__card1 {
  border-radius: 10px;
  background-color: white;
  padding: 20px;
}

.cafena__span-rating {
  margin-left: 25px;
}

.cafena__text {
  margin-left: 25px;
}

.cafena__wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;

  display: grid;
  gap: 20px 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  @media (max-width: 500px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.coustomer__title {
  font-size: 55px;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 0.04em;
  text-align: center;
}

.coustomer__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-align: center;
  margin-top: 30px;
  color: #5c5c5c;
}

.coustomer__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.coustomer__photo {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}

.coustomer__text2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #d48a5c;
}

.coustomer__wrap {
  display: flex;
  justify-content: center;
  /* gap: 50px; */
  align-items: center;
  padding: 60px 0;

  @media (max-width: 770px) {
    display: flex;
    flex-direction: column;
  }
}

.coustomer__photka {
  width: 100%;
}

.coustomer__h1 {
  font-size: 29px;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #1c1a1a;
}

.coustomer__content {
  padding: 45px 8px;
  background-color: white;
  height: 395px;
}

.coustomer {
  background-color: #f4f1ee;
  padding: 60px 0;
}

.coustomer__big-wrapper {
  @media (max-width: 500px) {
    display: grid;
    gap: 20px 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (max-width: 768px) {
  .product__wrapper {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .product__box {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .coustomer__img1 {
    display: none;
  }
}

.articles__title {
  font-size: 55px;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 0.04em;
  text-align: center;
}

.articles__wrapper {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  @media (max-width: 770px) {
    display: grid;
    gap: 20px 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.articles {
  background-color: #f4f1ee;
}

.articles__span {
  color: #eab665;
  display: flex;
}

.articles__span-text {
  color: white;
}

.articles__box {
  background-color: black;
  padding: 20px;
  max-width: 350px;
}

.articles__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: white;
}

.articles__span-readmore {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #eab665;
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer__span {
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.04em;
  display: flex;
}

.footer__span-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.04em;
}

.footer__box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__input {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #8d8d8d;
  background: #f2eae2;
  border: none;
  border-radius: 5px;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 630px) {
  .footer__wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  }
}

.footer {
  margin-top: 100px;
}

.footer__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #848484;
}

.footer__wrap2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}